suds==0.3.9
https://github.com/scottpersinger/salesforce-python-toolkit/archive/b0754d2ac32ad745ae8aec4f6a12d659fa2f9638.zip#egg=salesforce-python-toolkit==0.1.4
SQLAlchemy==0.9.7
psycopg2==2.5.4
unicodecsv==0.9.4
wheel==0.23.0
wsgiref==0.1.2
